@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .inputItem {
    @apply border-bright border-[1.5px] border-solid w-full py-3 px-3 rounded-md placeholder:text-xs
  }

  .paleinputItem {
    @apply border-pale text-center text-pale hover:border-bright hover:text-bright border-[2px] w-[104px] border-solid py-2 px-1 rounded-md
  }

  .inputLabel {
    @apply flex flex-col pb-5
  }

  .inputLabel label {
    @apply text-sm font-bold pl-4 pb-2
  }

  .spin {
    @apply border-bright border-[1.5px] border-solid px-2 flex items-center object-contain rounded-md
  }

  /* ============== Multi-step */
  .circle {
    @apply bg-[#ddd] h-[30px] w-[30px] flex justify-center items-center rounded-[50%] z-[1]
  }

  .circle.active {
    @apply border-[#383838] text-[#fff] bg-bright
  }

  .disabled {
    @apply outline-none border-0 cursor-not-allowed rounded-[4px] text-black bg-[#ddd] p-[4px_40px]
  }

  .progress {
    @apply bg-bright absolute w-full top-1/2 left-0 -translate-y-1/2 h-1 z-[1] transition-[all_.8s_ease-in]
  }

  .btn {
    @apply outline-none border-0 cursor-pointer text-base rounded-[4px] bg-bright text-white p-[10px_40px] active:outline-none active:scale-[.98]
  }

  /* custom checkboxes */
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */

    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    @apply border-[0.15em_solid] border-bright grid place-content-center
  }
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /* box-shadow: inset 1em 1em var(--form-control-color); */
    @apply bg-bright
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}